# This file is managed by ansible
[common]
x509_host_cert=/etc/grid-security/testCA-hostcert.pem
x509_host_key=/etc/grid-security/testCA-hostkey.pem

[authgroup:testers]
file=/etc/grid-security/testCA.allowed-subjects                                          
subject=/DC=org/DC=terena/DC=tcs/C=NO/O=Universitetet i Oslo/CN=Maiken Pedersen maikenp@uio.no


#To-do: need to insert default submit user here - take from EGI ansible scripts
[mapping]
map_to_user=testers {{ submit_user.user }}:{{ submit_user.group }}


#To-do: Is benchmark relevant? 
[lrms]
lrms={{ lrms }}
benchmark=HEPSPEC:{{hepspec}}

[arex]
controldir={{ controldir }}
{% if groups['datadelivery'] is defined %}
{% for server in groups['datadelivery' ] %}
sessiondir={{ griddir }}/{{ sessionbasename }}{{ server | regex_search('(\\d+)(?!.*\\d)') }}
{% endfor %}
{% endif %}
runtimedir={{ runtimedir }}
{% if scratchdir|length %}
scratchdir={{ scratchdir }}
{% endif %}

[arex/cache]
{% if groups['datadelivery'] is defined %}
{% for server in groups['datadelivery'] %}
cachedir={{ griddir }}/{{ cachebasename }}{{ server | regex_search('(\\d+)(?!.*\\d)') }}
{% endfor %}
{% endif %}

[arex/data-staging]


{% if remotedelivery == "yes" %}
{% for server in groups['datadelivery'] %}
deliveryservice=http://{{ hostvars[server].ansible_host }}:33555/datadeliveryservice
{% endfor %}
{% endif %}


[arex/ws]
[arex/ws/jobs]
allowaccess=testers
allownew=yes


[arex/jura]


#To-think of - possibility for accounting - needs EGI infrastructure form entry and if-test here
#[arex/jura/sgas:ndgf_sgas]
#targeturl=https://accounting.ndgf.org:6143/sgas
#localid_prefix=UiO_ARCTEST_{{ hostvars[groups['frontend'][0]].ansible_host }}


[infosys]
[infosys/glue2]


[infosys/cluster]
nodeaccess=outbound


{% for queue in queues %}
[queue:{{ queue }}]
{% endfor %}






