# See https://www.nordugrid.org/arc/arc7/admins/reference.html
# # This file is managed by ansible
[common]
x509_host_cert=/etc/grid-security/testCA-hostcert.pem
x509_host_key=/etc/grid-security/testCA-hostkey.pem

[authgroup:testers]
file=/etc/grid-security/testCA.allowed-subjects                                          


# Need to insert default submit user here - take from EGI ansible scripts
[mapping]
map_to_user=testers {{ submit_user.user }}:{{ submit_user.group }}


#To-do: Is benchmark relevant? 
[lrms]
lrms={{ lrms }}
{% if hepspec is defined and hepspec|length %}
benchmark=HEPSPEC:{{hepspec}}
{% endif %}
{% if lrms_bin_path is defined and lrms_bin_path|length and lrms != 'fork' %}
{{lrms}}_bin_path={{lrms_bin_path}}
{% endif %}

[arex]
{% if controldir is defined and controldir|length %}
controldir={{ controldir }}
{% endif %}

{% if groups['datadelivery'] is defined %}
{% for server in groups['datadelivery' ] %}
sessiondir={{ sessionbasename }}/sessiondir-{{ server }}
{% endfor %}
{% else %}
{% for server in groups['lrms_server' ] %}
sessiondir={{ sessionbasename }}/sessiondir-{{ server }}
{% endfor %}
{% endif %}

{% if runtimedir is defined and runtimedir|length %}
runtimedir={{ runtimedir }}
{% endif %}

{% if scratchdir is defined and scratchdir|length %}
scratchdir={{ scratchdir }}
{% endif %}

[arex/cache]
{% if groups['datadelivery'] is defined %}
{% for server in groups['datadelivery'] %}
cachedir={{ cachebasename }}/cachedir-{{ server }}
{% endfor %}
{% else %}
{% for server in groups['lrms_server' ] %}
cachedir={{ cachebasename }}/cachedir-{{ server }}
{% endfor %}
{% endif %}

[arex/data-staging]


{% if remotedelivery == "yes" %}
{% if groups['datadelivery'] is defined %}
{% for server in groups['datadelivery'] %}
deliveryservice=http://{{ hostvars[server].ansible_host }}:{{remotedelivery_port}}/datadeliveryservice
{% endfor %}
{% else %}
{% for server in groups['lrms_server' ] %}
deliveryservice=http://{{ hostvars[server].ansible_host }}:{{remotedelivery_port}}/datadeliveryservice
{% endfor %}
{% endif %}
{% endif %}


[arex/ws]
[arex/ws/jobs]
allowaccess=testers
allownew=yes


[arex/jura]


[infosys]
[infosys/glue2]


[infosys/cluster]
nodeaccess=outbound


{% for queue in queues %}
[queue:{{ queue }}]
{% endfor %}






